/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: aqua;
}


h1 {
    font-size: 10vw; 
    text-align: center; 
    margin-top: 40vh;

    background: linear-gradient(45deg, #ff6b00, #ff00cc, #ff6b00, #ff00cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease, color 0.5s ease;
}

h1:hover {
    background-size: 200% 200%; 
    background-position: 0% 0%;
    color: white;
}
